extends layout
block validacion

block content
  -var ruta = '/users/registro';
  h1= title
  if error
    div(class='error desaparecer') #{error}
  else if completado
    div(class='completado desaparecer') #{completado}
  
  form(method='POST' action=ruta id='form-login' content-type='application/json')
    div(class='columna columnaIzq')
     div(class='form-fila')
      label(for="usuario") Usuario
      input(name='usuario' id='usuario' placeholder='Usuario' type='text') 

     div(class='form-fila')
      label(for="password") Contraseña
      input(name='password' id='password' placeholder='Contraseña' type='password')

     div(class='form-fila')
      label(for="password") Repetir contraseña
      input(name='repassword' id='repassword' placeholder='Contraseña' type='password')
    
    div( class='grid-btns' style='margin-top:1rem')
     button(type='submit' id='btn-grabar' class='btn-grabar') Grabar
     button(class='btn-cancelar' onclick='event.preventDefault();window.location.href="/"') Regresar