extends layout

block content
  h1= title
  
  form(id='form-login' action='/users/login' method='POST')
   div(class='form-fila')
    label(for='usuario') Usuario
    input(type='text' id='usuario' name='usuario' required='true')
   div(class='form-fila')
    label(for='password') Contraseña
    input(type='password' id='password' name='password' required='true')
   div(style='margin-top: 1rem;')
    button(class='btn-login' type='submit') Entrar