extends layout
block validacion
 script(type='text/javascript'). 
  document.addEventListener('DOMContentLoaded', function(event) {
  let obtenerID = function (el){
      let id = this.childNodes[0].childNodes[0].textContent;
      console.log("click "+ id);
      window.location.href ='/proveedores/'+id, true;
  };
  var tabla=document.getElementById('tabla');
  var cosa = Array.from(tabla.querySelectorAll('.tabla-fila'));
  cosa.forEach(function(el){
                        el.addEventListener('click',obtenerID);
                        });
  });
  
  
block content
  -var arrJson = JSON.parse(provs);
  -var arrHeaders = ['Id','Nombre','RFC','Calle','Num. Ext.','Colonia','ContableMX','AnticiposMX','ContableDLS', 'AnticiposDLS'];
  
  h1= title
  span(class='span-btns')
   button(class='btn-grabar' onclick='window.location.href="/proveedores/alta"') Agregar
   button(class='btn-login' onclick='window.location.href="/users/logout"') Salir
  if error
   div(class='error desaparecer') #{error}

  div(id='tabla' class='tabla')
    div(class='tabla-header')
      each k in arrHeaders
        span(class='tabla-celda-header')
         strong= k
        
    each obj in arrJson
      div(class='tabla-fila')
       each val in obj
         div(class='tabla-celda')
          span= val