extends layout

block validacion
  script(type='text/javascript'). 
      var validacionAcumulado = 0b00000;
      var validacionAceptable = 0b11111;
      function keyPress(sigCampo){
        if(event.keyCode == 13){
          if(sigCampo){
            event.preventDefault();
            sigCampo.focus();
          }
          else event.target.blur();
        }
      }
      
      function validaCadena(cad, regExParam){
        var regEx = new RegExp(regExParam);
          if(cad && regEx.test(cad))
            return true;
          else return false;
      }
      function validaCampo(idSwitch){
        var caller = event.target;
        var callerID = caller.id;
        let regEx = '';
        let cadenaTrim ='';
        let seguirValidacion = true;
        switch (idSwitch){
          case 0:
            //- Texto Normal
            regEx = /^.{4,255}$/;
            cadenaTrim += caller.value.trim();
            if(cadenaTrim.length < 4)
              seguirValidacion = false;
            break;
          case 1:
            //- RFC
            regEx = /^[A-z]{4}[0-9]{6}[A-z|0-9]{3}$/;
            break;
            //- numExt
          case 2:
            regEx = /^[0-9]{1,6}$/;
            cadenaTrim += caller.value.trim();
            if(cadenaTrim.length < 1)
              seguirValidacion = false;
            break;
          //- falta Cuenta Bancaria
        }
        if(seguirValidacion && validaCadena(''+caller.value, regEx) == true){
          console.log('validado: '+callerID);
          return true;
        }
        console.log('fallo validacion '+callerID);
        return false;
      }

      document.addEventListener('DOMContentLoaded', function(event) {
          var msjError = document.createElement('div');
          msjError.className = 'error';
          var nomcia = document.getElementById('nomcia');
          var rfc = document.getElementById('rfc');
          var calle = document.getElementById('calle');
          var numExt = document.getElementById('numExt');
          var colonia = document.getElementById('colonia');
          var btn_submit = document.getElementById('btn-grabar');
          let errorBD = document.getElementById('errorBD');
          nomcia.addEventListener('keypress', function(){keyPress(rfc);}, false);
          rfc.addEventListener('keypress', function(){keyPress(calle);}, false);
          calle.addEventListener('keypress', function(){keyPress(numExt);}, false);
          numExt.addEventListener('keypress', function(){keyPress(colonia);}, false);
          colonia.addEventListener('keypress', function(){keyPress(btn_submit);}, false);
          nomcia.addEventListener('blur', function(){ if (validaCampo(0)) {validacionAcumulado |= (16 << 0); 
                                                        hayError(nomcia.parentNode, false);}
                                                      else {validacionAcumulado &= ~(16 << 0);
                                                        hayError(nomcia.parentNode, true, 'De 4 a 255 caracteres');}
                                                        });
          rfc.addEventListener('blur', function(){ if(validaCampo(1)) {validacionAcumulado |= (8 << 0);
                                                      hayError(rfc.parentNode, false);}
                                                   else {validacionAcumulado &= ~(8 << 0) 
                                                      hayError(rfc.parentNode, true, 'RFC inválido');}
                                                   });
          calle.addEventListener('blur', function(){ if(validaCampo(0)) {validacionAcumulado |= (4 << 0);
                                                        hayError(calle.parentNode, false);} 
                                                     else {validacionAcumulado &= ~(4 << 0);
                                                        hayError(calle.parentNode, true, 'De 4 a 255 caracteres');}
                                                     });
          numExt.addEventListener('blur', function(){ if(validaCampo(2)) {validacionAcumulado |= (2 << 0);
                                                        hayError(numExt.parentNode, false);}
                                                      else {validacionAcumulado &= ~(2 << 0);
                                                        hayError(numExt.parentNode, true, '1 a 6 números');}
                                                      });
          colonia.addEventListener('blur', function(){ if(validaCampo(0)) {validacionAcumulado |= (1 << 0);
                                                          hayError(colonia.parentNode, false);}
                                                       else {validacionAcumulado &= ~(1 << 0);
                                                          hayError(colonia.parentNode, true, 'De 4 a 255 caracteres');}
                                                       });
          document.getElementById('form-prov-alta').addEventListener('submit', function(event){

            console.log(validacionAceptable & validacionAcumulado);
            console.log(validacionAceptable);
            console.log(validacionAcumulado);
            console.log(event.target);

            if(validacionAceptable & validacionAcumulado !== validacionAceptable){
                  rfc.focus();
                  calle.focus();
                  numExt.focus();
                  colonia.focus();
                  colonia.blur();
                  
                  if(!(validacionAceptable & validacionAcumulado)){
                    console.log('invalido');
                    event.preventDefault();
                  }
                  else console.log('valido');
              }
            else console.log('valido');
            
          });

          function hayError(caller, ver, msj){
            if(ver && caller.children.length < 3){
              msjError.innerHTML = '<span>'+msj+'</span>';
              caller.appendChild(msjError.cloneNode(true));
            }
            else if(!ver && caller.children.length > 2){
              caller.lastChild.remove();
            }
          }
          nomcia.focus();
      });
      
block content
  -var ruta = '/proveedores';
  -var json= '[{}]';
  //- -var json = '[{"nombre":"","rfc":"","calle":"","numExt":"","colonia":"","cuentaContableMXN":"","cuentaAnticiposMXN":"","cuentaContableDLS":"","cuentaAnticiposDLS":""}]'
  if(prov)
   -json = JSON.parse(prov);
   -ruta = json[0].id;
  h1= title
  if error
    div(class='error desaparecer') #{error}
  else if completado
    div(class='completado desaparecer') #{completado}
  form(method='POST' action=ruta id='form-prov-alta' content-type='application/json')
    if(prov)
     input(type="hidden" value=json[0].id)
    div( class='grid-btns')
     button(type='submit' id='btn-grabar' class='btn-grabar') Grabar
     button(class='btn-cancelar' onclick='event.preventDefault();window.location.href="/proveedores"') Regresar
    
    div(class='columna columnaIzq')
     div(class='form-fila')
      label(for='nomcia') Proveedor
      input(name='nomcia' id='nomcia' placeholder='Persona Fisica o Moral' type='text' value=json[0].nombre) 

     div(class='form-fila')
      label(for='rfc') RFC
      input(name='rfc' id='rfc' placeholder='ABCD123456***' type='text' value=json[0].rfc)

     div(class='form-fila')
      label(for='calle') Calle
      input(name='calle' id='calle' placeholder='Calle Lateral, Carretera A-B Km' style='width: 79%' type='text' value=json[0].calle)

     div(class='form-fila-span')
      div(class='form-fila form-fila-item-peq')
       label(for='numExt') Numero Ext
       input(name='numExt' id='numExt' placeholder='123456' style='width: 50%' type='text' value=json[0].numExt)

      div(class='form-fila form-fila-item-gra')
       label(for='colonia') Colonia
       input(name='colonia' id='colonia' placeholder='Col. Centro' type='text' value=json[0].colonia)

    //- div(class='columna columnaCentro')
      //-  button(type='submit' id='btn-grabar' class='btn-grabar') Grabar

    div(class='columna columnaDer')
     div(class='form-fila')
      label(for='cuentaContableMXN') Cuenta bancaria contable MXN
      input(name='cuentaContableMXN' id='cuentaContableMXN' type='text' value=json[0].cuentaContableMXN)
     
     div(class='form-fila')
      label(for='cuentaAnticiposMXN') Cuenta bancaria anticipos MXN
      input(name='cuentaAnticiposMXN' id='cuentaAnticiposMXN'  type='text' value=json[0].cuentaAnticiposMXN)
     
     div(class='form-fila')
      label(for='cuentaContableDLS') Cuenta bancaria contable DLS
      input(name='cuentaContableDLS' id='cuentaContableDLS'  type='text' value=json[0].cuentaContableDLS)
     
     div(class='form-fila')
      label(for='cuentaAnticiposDLS') Cuenta bancaria anticipos DLS
      input(name='cuentaAnticiposDLS' id='cuentaAnticiposDLS'  type='text' value=json[0].cuentaAnticiposDLS)
    
