body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #B8D5DC;
}

a {
  color: #00B7FF;
}

#form-prov-alta{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:  repeat(5,1fr);
  grid-gap: 10px;
  background-color: #3FB3E5;
  border: 2px solid gray;
  border-radius: 5px;
  /* padding: 10vh 0 6vh 0; */
}

.form-fila{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 10px;
  margin-top: 3px;
  background-color: #95DCFF;
  width: 21rem;
  border-radius: 4px;
}
.form-fila-span{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.form-fila-item-peq{
  width: 6rem;
}
.form-fila-item-gra{
  width: 13.52rem;
  margin-left: 1%;
}

.columna{
  grid-row: span 4;
  grid-column: span 2;
  justify-content: flex-end; 
  align-items:flex-end;
  /* float: left; */
  /* background: white; */
}
.columnaIzq{
  /* border-right: 10px solid white; */
  /* margin-left: 20%; */
  grid-column-start: 2;
}
.columnaDer{
  grid-column-start: 3;
  /* margin-right: 20%; */
  /* border-left: 10px solid white; */
}
.columnaCentro{
  display: flex;
  align-self: flex-end;
  margin: 0 -5% -5% -5%;
  /* margin: 0 -20% -5% -20%; */
}
button{
  margin: .5vw;
  padding: 0px;
  width: 8vw;
  height: 3vw;
  font-size: 16px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.btn-login{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  background: #3498db;
  border: solid #1f628d 2px;
}
.btn-login:hover, .btn-login:focus{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-grabar{
  background: #34d93f;
  background-image: -webkit-linear-gradient(top, #34d93f, #53b82b);
  background-image: -moz-linear-gradient(top, #34d93f, #53b82b);
  background-image: -ms-linear-gradient(top, #34d93f, #53b82b);
  background-image: linear-gradient(to bottom, #34d93f, #52B829);
  border: solid #1f8c26 2px;
}
.btn-grabar:hover, .btn-grabar:focus{
  background: #3cfa42;
  background-image: -webkit-linear-gradient(top, #3cfa42, #34d93f);
  background-image: -moz-linear-gradient(top, #3cfa42, #34d93f);
  background-image: -ms-linear-gradient(top, #3cfa42, #34d93f);
  background-image: linear-gradient(to bottom, #3cfa42, #34d93f);
}
.btn-cancelar{
  background: #d62424;
  background-image: -webkit-linear-gradient(top, #d62424, #b82b2b);
  background-image: -moz-linear-gradient(top, #d62424, #b82b2b);
  background-image: -ms-linear-gradient(top, #d62424, #b82b2b);
  background-image: linear-gradient(to bottom, #d62424, #b82b2b);
  border: solid #8C1F1F 2px;
}
.btn-cancelar:hover, .btn-cancelar:focus{
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #d62424);
  background-image: -moz-linear-gradient(top, #fc3c3c, #d62424);
  background-image: -ms-linear-gradient(top, #fc3c3c, #d62424);
  background-image: linear-gradient(to bottom, #fc3c3c, #d62424);
}

#form-login{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #3FB3E5;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 0px 25%;
  padding: 10vh 0 6vh 0;
}

input[type='text'], input[type='password']{
  width: 65%;
}

.error{
  border-radius: 5px; 
  background-color: #FFDDDD;
  border: 1px solid #FF7575;
  margin-top: .5rem;
  padding: .25rem;
  color: #FF0000;
  font-size: .7rem;
}
.completado{
  border-radius: 5px; 
  background-color: #B9FFBA;
  border: 1px solid #71FF8B;
  margin-top: .5rem;
  padding: .25rem;
  color: #00B800;
  font-size: .7rem;
}
.desaparecer{
  text-align: center;
  width:50%; 
  margin: 0 20% 0 20%;
  animation: animacionFrames ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
  -webkit-animation: animacionFrames ease 8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards;
}
@keyframes animacionFrames{
  0% {
    opacity:1;
  }
  45%{
    opacity:0;
  }
  100% {
    opacity:0;
    position: absolute;
  }
}

.tabla{
  display: grid;
  grid-gap: 0px;
  min-width: 50vw;
  min-height: 10vw;
  color: black;
}
.tabla-header{
  display: grid;
  grid-gap: 0px;
  grid-auto-flow: column;
  grid-template-columns: 3% 15.3% minmax(141px,11.5%) minmax(171px,14%) 6.7% minmax(141px,11.5%) repeat(4, minmax(100px,9.5%));
}
.tabla-celda-header{
  display: flex;
  justify-content: center;
  /* background-color: #B3DAFE; */
  background-color: #3FB3E5;
  padding: .25rem;
  box-shadow: inset 1px 1px 0 #2980b9,
              inset -1px -1px 0 #2980b9;
  min-height: 1.6rem;
  align-items: center;
}
.tabla-celda{
  display: flex;
  padding: .25rem;
  box-shadow: inset 1px 1px 0 #2980b9,
              inset -1px -1px 0 #2980b9;
  min-height: 1.2rem;
  align-items: center;
  background-color: #E3F1FF;
}
.tabla-fila{
  display: grid;
  grid-gap: 0px;
  grid-auto-flow: column;
  grid-template-columns: 3% 15.3% minmax(141px,11.5%) minmax(171px,14%) 6.7% minmax(141px,11.5%) repeat(4, minmax(100px,9.5%));
  margin: 0px;
}
.tabla-fila:hover > .tabla-celda{
  background-color: #95DCFF;
}

.span-btns{
  display: flex;
  justify-content: flex-end;
}

.grid-btns{
  display:flex; 
  grid-column: 4; 
  align-items:center; 
  justify-content:flex-end;
}